/*Footer*/

.footer{
    background-color: $bg-footer;
    padding: 2rem;
    display: flex;
    align-items: center;
    &__contacto {
        background-color: $bg-footer;
        --bs-card-border-color: none;
        color: $color-font-dark-bg;
    }
    &__alineacion{
        @include alineacion-flex (space-between,center);
    }
    &__logo__redes{
        height: 6vw;
        margin-inline: 1.5vw;
    }
    &__logo{
        max-height: 10rem;
        display: block;
        margin: auto;
    }
}

.card-title{
    --bs-card-title-spacer-y: 1.5rem;
}



  