/* Header */
header{ 
    /*background-color: $bg-header-medium;*/
    animation-name: fondo-header;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    align-items: center; 
    section{
        @include alineacion-flex (center,center);
        p{
            font-family: $font-nombre-empresa;
            font-size: map-get($size-text,title-header);
            color: $color-nombre-empresa;
            margin: 0; /* Evita el espacio adicional alrededor del texto */
        }
    }
}
.menu {
    &__horizontal {
        list-style: none; /* para sacar las viñetas */
        margin: 0;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        background-color: $bg-navbar;
      } 
    &__nombre{
        padding-top: 15px;
        padding-bottom: 20px;
    }
    &__contenedor__desplegable{
        background-color: $bg-navbar;
    }
    &__logo {
        width: 20vw; 
    }
    li a{  
        color: $color-font-dark-bg;
        text-decoration: none; /* para sacar el subrayado */
        font-weight: 600px;
    }
}
.nav-item{
    --bs-nav-link-color: #64577e;
    --bs-nav-link-hover-color: #68588a;
}
.btn-secondary{
    --bs-btn-color: #dfc7c9;
    --bs-btn-bg: #3e2525;
    --bs-btn-border-color: #none;
    --bs-btn-hover-color:#dfc7c9;
    --bs-btn-hover-bg: #3e2525;
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: #dfc7c9;
    --bs-btn-active-bg: #3e2525;
    --bs-btn-active-border-color: none;
}
.menu__desplegable {
    &_logo {
        @include dimensiones (95px,auto);
        margin-bottom: 10px; 
    }
    &_contacto p{
        font-size: 13px;
    }
    &__linea{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    &__redes{
        margin: 20px;
    }
    &__logoredes{
        @include dimensiones (auto,50px);
        margin-inline: 10px;
    }
    li a{  
        color: $color-titles;
    }
}
.dropdown-menu {
    --bs-dropdown-min-width: 18rem;
    padding: 10px; 
    background-color: $bg-navbar-desplegable ;
}

