/*Sección: sobre nosotros*/

.sobrenosotros{
    &__container{
        @include alineacion-flex (none,center);
        flex-direction: column;
        padding: 20px;

        p{
            text-align: justify;
            font-size: map-get($size-text, text-section);
            margin-left: 60px;
            margin-right: 60px;
        }
    }

    &__img{
        @include dimensiones (300px,auto);
        margin-bottom: 50px;
    }


}
