//--Fuentes--//

$font-proyect: 'Montserrat Alternates', sans-serif;
$font-nombre-empresa: 'Salsa', cursive;

//--Colores--//

$color-nombre-empresa: #241501;
$color-titles: #3d2302;
$color-font-dark-bg: #d2bfa7;
$color-cards: #fcf3e6;

$bg-header: #dfc7c9;
$bg-navbar: #3d2302;
$bg-navbar-desplegable: #ece3e4; 
$bg-principal: #DBFEB8;
$bg-footer: #2A3D45;

//--Botones--//

$btn-color: #40565f;

//--Mapas--//

$size-text:(
    title-header: 6vw,
    title-section: 7vw,
    text-section: 20px,
    text-section-small: 18px
)


